<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assets.Properties.Settings.AssetsConnectionString"
            connectionString="Data Source=.;Initial Catalog=ProjectA;User ID=sa;Password=talhaali"
            providerName="System.Data.SqlClient" />
      <add name="ProjectA"
            connectionString="Data Source=.;Initial Catalog=ProjectA;User ID=sa;Password=talhaali"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>